div[class*="-card-container"] {
  width: 1226px;
  height: 686px;
  margin:0 auto 8px;
}

.card-container-top {
  width: 1226px;
  height: 57.6px;
  margin: auto;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

.card-container-bottom {
  width: 1226px;
  height: 628px;
  position: relative;
}

div.container-bottom-left {
  position: relative;
  width: 234px;
  height: 614px;
  transition: all .2s linear;
}

.phone-card-container div.container-bottom-left:hover {
  transition: all .2s linear;
  transform: translate3d(0,-2px,0);
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

.phone-card-container > .card-container-bottom > a {
  position: absolute;
  right: 0;
  top: -58px;
  height: 57.6px;
  line-height: 57.6px;
  font-size: 16px;
  color: #424242;
  transition: all .4s;
}

 i.phone-card-i {
  height: 12px;
  padding: 4px;
  margin-left: 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
  background: #b0b0b0;
  color: #fff;
  transition: all .4s;
}

.phone-card-container > .card-container-bottom > a:hover {
  color: #ff6709;
  transition: all .4s;
}

.phone-card-container > .card-container-bottom > a:hover > i {
  background-color: #ff6709;
  transition: all .4s;
}

div.container-bottom-left > a > img {
  width: 234px;
  height: 614px;
}

ul.container-bottom-right {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  left: 234px;
  top: 0;
}

.phone-card-container  ul.container-bottom-right > li {
  position: relative;
  margin-left: 14px;
  margin-bottom: 14px;
  width: 234px;
  height: 260px;
  padding: 20px 0;
  background-color: #fff;
  transition: all .2s linear;
}

ul.container-bottom-right > li:not(:last-child) {
  position: relative;
  margin-left: 14px;
  margin-bottom: 14px;
  width: 234px;
  height: 260px;
  padding: 20px 0;
  background-color: #fff;
  transition: all .2s linear;
}

.phone-card-container  ul.container-bottom-right > li:hover{
  transition: all .2s linear;
  transform: translate3d(0,-2px,0);
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
}



ul.container-bottom-right > li:not(:last-child):hover{
  transition: all .2s linear;
  transform: translate3d(0,-2px,0);
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

div.phone-card-container > ul.container-bottom-right > li:last-child:hover {
  transition: all .2s linear;
  transform: translate3d(0,-2px,0);
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

ul.container-bottom-right > li > a > img {
  width: 160px;
  height: 160px;
  padding: 0 37px 18px;
}

ul.container-bottom-right > li > a > h3 {
  width: 214px;
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p.card-desc {
  height: 18px;
  margin: 0 10px 10px;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}

p.card-price {
  text-align: center;
}

p.card-price > span.now{
  color: #ff6709;
}

p.card-price > span.past{
  color: #b0b0b0;
  text-decoration: #b0b0b0 solid line-through;
}


/* 小商品卡 */

div.small-card{
  width: 234px;
  height: 93px;
  padding-top: 50px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: #fff;
  transition: all .2s linear;
}

div.small-card:hover {
  transition: all .2s linear;
  transform: translate3d(0,-2px,0);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

div.small-card img{
  float: right;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-top: -20px;
}

div.small-card h3 {
  margin: -10px 110px 5px 30px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

div.small-card p {
  margin: 0 110px 0 30px;
  font-size: 14px;
  color: #ff6700;
}

/* 浏览更多样式 */

div.browse-more {
  width: 234px;
  height: 93px;
  padding-top: 50px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: #fff;
  transition: all .2s linear;
}

div.browse-more:hover {
  transition: all .2s linear;
  transform: translate3d(0,-2px,0);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

div.more-left {
  margin: 0 110px 0 30px;
  font-size: 18px;
  color: #333;
}

div.more-left > p.small {
  font-size: 12px;
  color: #757575;
}

div.more-right {
  float: right;
  font-size: 48px;
  color: #ff6700;
  margin-right: 35px;
  margin-top: -45px;
}

.container-bottom-left > div > a > img {
  width: 234px;
  height: 300px;
}

.container-bottom-left > div {
  width: 234px;
  height: 300px;
  margin-bottom: 14px;
}

.container-bottom-left > div:hover {
  transition: all .2s linear;
  transform: translate3d(0,-2px,0);
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
}